
.quote-box {
    background: linear-gradient(to right, #aa076b, #61045f);
    color: white;
    border-radius: 12px;
    padding: 1.5rem;
}

.book-card {
    background: white;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    text-align: center;
    position : relative;
/*    width: 150px;*/
}

.book-row {
    overflow-x: auto;
    display: flex;
    gap: 1rem;
    padding-bottom: 1rem;
}

.card-link {
    position: absolute;
    top: 20px;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index : 1
}



.tag-pill {
    background-color: #9c27b0;
    color: white;
    padding: 0.3rem 0.7rem;
    border-radius: 20px;
}

