@{
    ViewData["Title"] = "Add Book";
    //   Layout = "_LayoutMain";
}
@model Book;

<div class="container my-4">
    <div class="card p-4 shadow-sm">
       @if(Model == null){
        <h3 class="mb-3 text-primary" >Add a New Book</h3>
       } else {
        <h3 class="mb-3 text-primary" >Update Book</h3>
       }


        <form id="addBookForm">
            <input type="number" asp-for="Id" class="form-control " name="Id"/>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label class="form-label">Title</label>
                    <input type="text" asp-for="Title" class="form-control" name="Title" required />
                </div>
                <div class="col-md-6">
                    <label class="form-label">Author</label>
                    <input type="text" asp-for="Author" class="form-control" name="Author" required />
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-4">
                    <label class="form-label">Price</label>
                    <input type="number" asp-for="Price" class="form-control" name="Price"  required />
                </div>
                <div class="col-md-4">
                    <label class="form-label">ISBN</label>
                    <input type="text" asp-for="Isbn" class="form-control" name="Isbn" required />
                </div>
                <div class="col-md-4">
                    <label class="form-label">Stock</label>
                    <input type="number" asp-for="Stock" class="form-control" name="Stock"  required />
                </div>
            </div>

            <div class="mb-3">
                <label class="form-label">Cover Image URL</label>
                <input type="url" asp-for="ImgUrl" name="ImgUrl" class="form-control" />
            </div>

            <div class="text-end">
                @if (Model == null)
                {
                    <button type="button" onclick="SubmitData(event)" class="btn btn-primary px-4">Add Book</button>
                }
                else
                {
                    <button type="button" onclick="UpdateData(event)" class="btn btn-primary px-4">Update Book</button>


                }
            </div>
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="~/js/books/bookshome.js"></script>