@{
    ViewData["Title"] = "Manage Users";
   // Layout = "_LayoutMain";
}

<h1 class="mb-4">👥 Manage Users</h1>

<div id="userList" class="row">
    <!-- Users will be loaded here via JavaScript -->
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<script src="~/js/books/userlist.js"></script>
