@using OnlineBookManagementSystem.Models.ViewModel.AuthViewModels
@model ResetPasswordViewModel

<div class="auth-container">
    <div class="auth-card">
        <div class="text-center mb-4">
            <img src="~/images/render_website_name.png" style="max-width: 100px;" />
            <h2 class="mt-3 fw-semibold text-primary">Reset Password</h2>
        </div>

        <form asp-action="ResetPassword" method="POST">
            <input type="hidden" asp-for="Email" />

            <div class="mb-3">
                <label asp-for="NewPassword" class="form-label">New Password</label>
                <input asp-for="NewPassword" type="password" class="form-control" required />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary w-100 mt-2">Reset Password</button>
        </form>
    </div>
</div>
