@{
    ViewData["Title"] = "About";
    
}

<div class="container py-4">
    <h1 class="display-4">About This App</h1>
    <p class="lead">
        Welcome to the Online Book Management System. This application allows users to manage books,
        track inventory, and view details, with role-based features for Admins and Users.
    </p>

    <hr />

    
</div>
